<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/chat.css" />
    <title>Docs4Docs</title>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>
  </head>
  <script>
      const ROOM_ID = '<%= roomId %>';
  </script>
  <body>
    <div id="container">
      <h1>
        Docs4Docs
      </h1>
      <div id="chatSection">
        <div class="chat-window"></div>
        <form class="chat-form">
          <label class="chat-label">
            Enter a message:
            <input type="text" class="chat-input" />
          </label>
          <input type="submit" class="chat-submit" value="enter" />
        </form>
      </div>
    </div>
<%- include("footer") -%>
