<%- include("header") -%>
<html>
	<div class="container">
    <h2 style="text-align: center; color: #000">Welcome To <span style="color: #fc8019;">Docs4Docs</span></h2>

	<div class="form doclist" style="width: 100%;">
    	<h4 style="text-align: center; margin-top: 15px;">List of Available Doctors</h4>
        
        <ul class="responsive-table">

        	<li class="table-header">
		      <div class="col col-1">Doctor Name</div>
                      <div class="col col-2">Hospital Name</div>
		      <div class="col col-3">Years Of Experience</div>
		      <div class="col col-4">Chat</div>
		      <div class="col col-5">Video Call</div>
		    </li>
		    <% for( let i = 0; i < doctors.length; i++ ){%>
		    <li class="table-row">
		      <div class="col col-1" data-label="Doctor Name"><%= doctors[i].name %></div>
                      <div class="col col-2" data-label="Hospital Name"><%= doctors[i].hospitalName %></div>
		      <div class="col col-3" data-label="Years Of Experience"><%= doctors[i].yearsOfExperience %></div>
		      <div class="col col-4" data-label="Chat"><a href="/chat"><img src="css/images/chat.png" width="40"></a></div>
		      <div class="col col-5" data-label="Video Call"><a href="/video"><img src="css/images/cam.png" width="40"></a></div>
		    </li>
		    <%}%>
        
        </ul>
        
    </div>
    </div>
</html>