<%- include("header") -%>
  <div class="container container1">
    <h2 style="text-align: center; color: #000">Welcome To <span style="color: #fc8019;">Docs4Docs</span></h2>
    <div class="form">
    <form class="container" method="POST" action="/signup">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" placeholder="Enter name" id="name" name="user[name]" />
      </div>
      <div class="form-group">
        <label for="email">Email ID:</label>
        <input type="email" class="form-control" placeholder="Enter email" id="email" name="user[username]" />
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter Password" id="pwd"
          name="user[password]" />
      </div>
      <div class="form-group">
        <label>
          <p>Already a User?&nbsp;<a href="/" style="color: #fc8019;">Login</a></p>
        </label>
      </div>
      <button type="submit" class="btn btn-primary">SignUp</button>
    </form>
  </div>
  </div>
  <!-- <%- include("footer") -%> -->