<%- include("header") -%>
<html>
	<div class="container">
    <h2 style="text-align: center; color: #000">Welcome To <span style="color: #fc8019;">Docs4Docs</span></h2>

	<div class="form doclist" style="width: 100%;">
    	<h4 style="text-align: center; margin-top: 15px;"></h4>
        <center>
        <ul class="responsive-table">

        	<h3>Wait here while we connect you</h3>
            <h1>....</h1>
            <a href="#">Enter the session</a>
        
        </ul></center>
        
    </div>
    </div>
</html>