* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
  font-family: monospace, sans-serif;
}
 
  #intro{
 	/*background-color: #008000;*/
  background: #fc8019dd;
  backdrop-filter: blur(10px);
 	color: #FFFFFF;
 	height: 5%;	
 } 


 body { 
 	font: 25px;
  background-image: url("images/image.jpg") !important;
}

 
 form { 
 	background: #fc8019dd; 
 	padding: 3px; 
 	position: fixed; 
 	bottom: 5px; 
 	width: 100%; 
 }
 
 form input { 
 	background-color: #e6ffe6;
 	border: 0; 
 	padding: 10px; 
 	width: 90%; 
 	margin-right: 0.5%; 
 }
 
 form button { 
 	width: 9%; 
 	background: #fc8019dd;
 	border: none; 
 	padding: 5px; 
 	font-size: 20px; 
 }
 
 #messages { 

 	margin: 0; 
 	padding: 0; 
 	
 }
 
 #messages li { 
 	padding: 10px 10px; 
 }
 
 #messages li:nth-child(odd) { 
 	background: #fc801966; 
 }

 #messages li:nth-child(even) { 
  background: #fc801922; 
 }


#list{
	text-align: right;
}